
@{
    ViewData["Title"] = "Commit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>ReserVation Details</h3>
<button><a  asp-action="ReservationDetail" asp-controller="GetReservationDetail" asp-route-reservationnumber="@Model.reservationNumber">Details </a></button>




